//Variables

//colores
$color-menu:nth($colores, 2);
$color-boton:nth($colores, 1);
$color-texto-boton:nth($colores, 4);
$color-link-visitado:nth($colores, 1);
$color-sobre-boton:nth($colores, 3);
$color-sobre-boton-sombra:nth($colores, 1);
$color-bg-pie-de-pagina:nth($colores, 1);
$color-fuente-pie-de-pagina:nth($colores, 4);
$color-bg-main:nth($colores, 4);
$color-fuente-nosotros:nth($colores, 5);
$color-fuente-titulo-quienes-somos:nth($colores, 5);
$color-fuente-detalle-quienes-somos:nth($colores, 1);