/************************************************************************************************************/
/*estilos de encabezado*/
/************************************************************************************************************/
.bg-menu {
    background-color: $color-menu;
}

.img-80 {
    width: 80%;
}

.nav-item {
    &:hover{
    background-color: $color-sobre-boton;
    transform: scale(1.1);
    box-shadow: 1px 1px 5px $color-sobre-boton-sombra;
    border-radius: 30px;
    }
    .nav-link {
        &:visited{
            color: $color-link-visitado;
        }
    }
}

